@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(0, 0, 0, 0.71);
    display: flex;
       
    flex-direction: column;
    align-items: center;
}

#cartContainer {
    display: flex;
       
    flex-direction: column;
    align-items: center;
}

.cartBtn, .logo, .buyBtn {
    cursor: pointer;
}

.cartCard .closeBtn {
    position: absolute;
    margin-bottom: 17rem;
    margin-left: 35rem;
    padding: 0.4rem;
    background-color: rgba(0, 0, 0, 0.095);
    cursor: pointer;
}

.cartCard .closeBtn:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.512);
}

#container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.totalCost {
    color: white;
}

.buyBtn {
    padding: 0.5rem;
}

h1 {
    font-family: 'Tilt Warp', Courier, monospace;
    font-weight: lighter;
    font-size: 1.2rem;
}

#total {
    width: 100%;
    height: 5rem;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.62);
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

body * {
    font-family: 'Tilt Warp', Courier, monospace;
    font-weight: lighter;
    font-size: 1.05rem;
}

.cartCard {
    overflow: hidden;
    box-sizing: border-box;
  
    height: 30rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: 1rem;
    min-width: 17rem;
    flex-basis: 20rem;
    border-radius: 1rem;
}

.card {
    overflow: hidden;
    box-sizing: border-box;
  
    height: 30rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: 1rem;
    min-width: 17rem;
    flex-basis: 20rem;
    border-radius: 1rem;
}

.imgContainer {
    height: 15rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card form button[disabled] {
    background-color: rgba(243, 0, 0, 0.702);
    color: white;
}

.card img {
    width: 10rem;
}

.card form button, .card input {
    width: 4rem;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 1px;
    border: 0;
    outline: 0;
    border-radius: 0.3rem;
}
.card form input:hover, .card form input:focus, .card form button:hover  {
    outline: 1px solid rgba(0, 0, 0, 0.139);
}

.card form button:hover:not(.card form button[disabled]) {
    cursor: pointer;
    transition: background-color 0.7s ease-out;
    background-color: #3695ee8d;
    color: white;
    transform: scaleY(1.1);
    transition: transform 0.2s ease-out;
    border-radius: 20rem;
    transition: border-radius 1s ease-in;
}

.card form {
    height: 2.5rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

header {
    height: 5rem;

    background: rgba(0, 0, 0, 0.542);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    width: 5rem;
    margin-left: 3rem;
 
    background-color: rgba(109, 107, 176, 0.27);
    padding: 0 0.5rem 0 0.5rem;
    border-radius: 0.4rem;
    filter: brightness(1.5);

}

header div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7rem;
    border-radius: 1.5rem;
    outline: 0;
    border: 0;
    background-color: #95E3EE;
    margin: 0 1rem 0 1rem;
}


header div h1 {
    margin-right: 0.5rem;
}

@media only screen and (max-width: 600px) {
    #container {
      display: flex;
      flex-direction: column;
      width: 22rem;
    }
    header {
        width: 100%;
    }
    body {
        display: flex;
       
        flex-direction: column;
        align-items: center;
    }


  }
@media only screen and (max-width: 450px) {
    #container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

  }
